.all-apps-body {
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.row.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.col.col2 {
    display: flex;
    gap: 10px;

    font-size: 20px;
}

.dropdown {
    background: #95D2B3;

    width:90px;
    height: 20px;

    border: none;
    margin: 0;
    
    cursor: pointer;

    font-size: 0.8rem;
    font-weight: bold;
}

.dropdown:focus {
    outline: none;
}

.dropdown option {
    background:#F1F8E8;
}

.search-bar {
    background-color: #95D2B3;

    width: 120px;

    border-radius: 5px;
    border: 0.1rem solid black;

    padding-right: 23px;
}

.search-bar:focus {
    outline: none;

}

.search-submit {
    background: none;

    border: none;
    right: 1px;
    top: 6px;

    position: absolute;

}

.search-bar-container {
    position: relative;
}

.row.row2 {
    width: 600px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: auto;
}

.application-grid-container {
    width: 580px;
    height: 294px;

    box-sizing: border-box;
    padding-right: 10px;
}

.grid-item.head {
    background: #55AD9B;
    color: white;
}

.grid {
    width: 585px;
    height: 40px;

    display: flex;
    flex-direction: row;

    font-size: 11px;
}

.grid-item {
    background: #F1F8E8;

    height: 35px;

    border: 0.1rem solid black;
    padding: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    text-transform: uppercase;
    color: black;
    text-align: center;
}

.grid-item-text {
    display: block;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid-item.desc {
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: visible;
}

.popup.desc {
    background: #F1F8E8;

    width: 150px;
    max-height: 200px;

    border: 0.1rem solid black;
    padding: 5px;

    visibility: hidden;
    overflow-y: auto;

    top: 40px;
    position: absolute;
    z-index: 1;

    text-align: left;
    text-transform: none;
    color: black;
    font-weight: normal;
    white-space: normal;
    word-wrap: break-word;
}

.grid-item.company .grid-item.position, .grid-item.location {
    max-width: 65px;
    overflow: visible;

    position: relative;
}

.popup.company, .popup.position, .popup.location {
    background: #F1F8E8;

    width: auto;
    height: auto;

    padding: 5px;

    visibility: hidden;
    overflow: visible;

    position: absolute;
    z-index: 1;

    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.grid-item.company:hover .popup.company, .grid-item.desc:hover .popup.desc, .grid-item.position:hover .popup.position,  .grid-item.location:hover .popup.location {
    visibility: visible;
}

.grid-item.link {
    color: #55AD9B;
}
.grid-item.head.link {
    color: white;
}

.grid-item.desc {
    color: #55AD9B;
    text-decoration: underline;
}
.grid-item.head.desc {
    color: white;
    text-decoration: none;
}

.grid-item.date, .grid-item.head.date {
    width: 35px;
}

.grid-item.status, .grid-item.head.status {
    width: 100px;
}

.grid-item.company, .grid-item.head.company {
    width: 70px;
}

.grid-item.position, .grid-item.head.position {
    width: 70px;
}

.grid-item.salary, .grid-item.head.salary {
    width: 45px;
}

.grid-item.link, .grid-item.head.link {
    width: 40px;
}

.grid-item.location, .grid-item.head.location {
    width: 70px;
}

.grid-item.desc, .grid-item.head.desc {
    width: 40px;
}

.grid-item.edit, .grid-item.head.edit {
    width: 40px;
}

.grid-item.delete, .grid-item.head.delete {
    width: 40px;
}

.grid-item.date:hover, .grid-item.status:hover, .grid-item.salary:hover, .grid-item.link:hover, .grid-item.desc:hover {
    font-weight: bold;
}

.edit-button, .delete-button {
    background: none;

    border: none;

    cursor: pointer;
}

.delete-popup-container {
    background: #95D2B3;

    width: 200px;
    height: 100px;

    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;;

    position: absolute;
    top: 150px;
    left: 150px;

    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.x-button {
    top: 0px;
    left: 0px;
}

.confirm-button {
    background: #55AD9B;
    
    width: 120px;
    height: 30px;

    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 gray;
    padding: 10px;
    margin-top: -10px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items:center;

    font-weight: bold;
    font-size: 1rem;

}